install/
Makefile
autom4te.cache/
claimsserver
config.h
config.guess
config.status
config.sub
configure
depcomp
install-sh
libtool
aclocal.m4
ltmain.sh
missing
stamp-h1
*.a
Makefile.in
*.Po
src/cppforwork
src/lcode
src/cserver
src/treetest
*.o
config.log
config.h.in~
sqlparser
